.gallery-container {
  border-right: 10px double rgb(186, 186, 186);
  border-left: 10px double rgb(188, 188, 188);
  border-bottom: 20px solid rgb(212, 250, 212);
  background-color: rgb(101, 123, 99);
  box-shadow: inset 0px 0px 10px rgb(233, 255, 212), 0px 5px 10px black;
  transition: padding-bottom 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  min-height: 100vh;
  padding-bottom: 100px;
}

.gallery-container:hover {
  padding-bottom: 30px;
  padding-top: 30px;
}

.gallery-container .gallery-img-div {
  border: 3px solid rgb(161, 246, 82);
  box-shadow: 2px 5px 10px black;
  border-radius: 5px;
  filter: blur(5px);
  transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.59, 1.51),
    border 0.5s ease, box-shadow 0.5s ease, filter 1s ease,
    margin-right 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), margin-top,
    0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery-container:hover .gallery-img-div:not(:last-child) {
  margin-right: 20px;
  margin-top: 20px;
}

.gallery-container:hover .gallery-img-div {
  filter: blur(0px);
  z-index: 0;
}

.gallery-container .gallery-img {
  max-height: 500px;
  width: auto;
}

.gallery-container .gallery-img-div:hover {
  transform: scale(1.2);
  border: 5px solid rgb(153, 249, 228);
  box-shadow: 15px 15px 10px rgb(61, 126, 0);
  z-index: 1;
  cursor: pointer;
}
