@keyframes swing-in-left-bck {
	0% {
		-webkit-transform: rotateY(-70deg);
		transform: rotateY(-70deg);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 0;
	}
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
		-webkit-transform-origin: left;
		transform-origin: left;
		opacity: 1;
	}
}

@keyframes slide-in-blurred-right {
	0% {
		transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
		transform-origin: 0% 50%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translateX(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes slide-in-blurred-left {
	0% {
		transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
		transform-origin: 100% 50%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translateX(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes slide-in-blurred-bottom {
	0% {
		transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes puff-out-center {
	0% {
		transform: scale(1);
		filter: blur(0px);
		opacity: 1;
	}
	100% {
		transform: scale(2);
		filter: blur(4px);
		opacity: 0;
	}
}

@keyframes slide-in-elliptic-left-bck {
	0% {
		transform: translateX(-800px) rotateY(-30deg) scale(6.5);
		transform-origin: 200% 50%;
		opacity: 0;
	}
	100% {
		transform: translateX(0) rotateY(0) scale(1);
		transform-origin: -600px 50%;
		opacity: 1;
	}
}

.show {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.show .container::before {
	content: "";
	backdrop-filter: blur(40px);
	height: 800px;
	width: 950px;
	box-shadow: 10px 12px 30px rgb(78, 78, 78);
}

.show .container {
	display: flex;
	align-items: center;
	background-color: rgba(
		81,
		81,
		81,
		0.616
	); /* Adjust the background color and opacity as needed */
	border-radius: 10px; /* Match the container's border radius */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 10px white; /* Adjust the box shadow as needed */
	border: 5px double rgb(168, 168, 168);
	height: 800px;
	width: 950px;
	animation: swing-in-left-bck 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.show .container img {
	object-fit: contain;
	object-position: center;
	image-rendering: optimizeSpeed;
	display: block;
	max-width: 60%;
	max-height: 80%;
	height: 700px;
	width: auto;
	margin: 60px auto;
	transition: all 0.5s ease;
	animation: swing-in-left-bck 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
	animation-delay: 0.8s;
}

.show .container img:hover {
	background-color: rgba(39, 39, 39, 0.458);
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px;
}

.show.hiding,
.container.hiding {
	animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.show .container span {
	position: absolute;
	color: white;
	bottom: 30px;
	font-size: 40px;
	right: calc(100vw / 3.5);
	animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
	animation-delay: 0.8s;
}

.show-arrows_left svg,
.show-arrows_right svg {
	width: 80px;
	height: 80px;
	transition: all 0.1s ease-in-out;
}

.show-arrows_left,
.show-arrows_right {
	display: flex;
	background-color: rgba(51, 51, 51, 0.5);
	box-shadow: 0px 3px 0px black;
	justify-content: space-between;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 88%;
	z-index: 99;
	transition: all 0.5s;
	color: rgb(58, 81, 47);
	border-radius: 5px;
}

.show-arrows_right {
	right: 250px;
	animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
	animation-delay: 0.8s;
}

.show-arrows_left {
	left: 250px;
	animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
	animation-delay: 0.8s;
}

.show .container:hover .show-arrows_left,
.show .container:hover .show-arrows_right {
	box-shadow: 0px 3px 10px black;
}

.show-arrows_left:hover,
.show-arrows_right:hover {
	transform: scale(1.2);
	background-color: #393939;
	cursor: pointer;
	color: rgb(174, 249, 139);
	box-shadow: inset 0px 0px 20px rgb(114, 158, 93);
}

.show-arrows_left:active svg,
.show-arrows_right:active svg {
	transform: scale(0.9);
}
