.container {
	width: 100vw;
	height: 100%;
	background: #2980b9;
	background: linear-gradient(
		to right,
		#502c2c,
		#b92929
	);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
